<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Profile</title>
</head>
<body>
<h2>Profile</h2>
<span>Email</span>
<div th:text="${exerciserDto.email}"></div>
<span>First Name</span>
<div th:text="${exerciserDto.firstName}"></div>
<span>Last Name</span>
<div th:text="${exerciserDto.lastName}"></div>
<span>Gender</span>
<div th:text="${exerciserDto.gender}"></div>
<form th:action="@{/fitness/exerciser/update}" method="GET">
    <div>
        <input type="submit" value="Update Profile"/>
    </div>
</form>
<div th:if="${not #lists.isEmpty(workouts)}">
    <h2>Workouts</h2>
    <table>
        <tr>
            <td>Type</td>
            <td>Calories</td>
            <td>Duration</td>
            <td>Distance</td>
            <td>Workout Date</td>
        </tr>
        <tr th:each="workout : ${workouts}">
            <td th:text="${workout.type}"></td>
            <td th:text="${workout.calories}"></td>
            <td th:text="${workout.duration}"></td>
            <td th:text="${workout.distance}"></td>
            <td th:text="${workout.workoutDate}"></td>
            <td>
                <form th:action="@{'/fitness/exerciser/' + ${exerciserDto.uuid} + '/workout/' + ${workout.id} + '/update'}" method="GET">
                    <input type="submit" value="Update"/>
                </form>
            </td>
            <td>
                <form th:action="@{'/fitness/exerciser/' + ${exerciserDto.uuid} + '/workout/' + ${workout.id} + '/delete'}" method="POST">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    </table>
</div>
<div>
    <form th:action="@{'/fitness/exerciser/' + ${exerciserDto.uuid} + '/workout/add'}" method="GET">
        <input type="submit" value="Add workout"/>
    </form>
</div>
</body>
</html>