<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h2>Register</h2>
<form th:action="@{/fitness/register}" th:object="${exerciserSignUpModel}" method="POST">
    <span>First Name</span>
    <div><input type="text" th:field="*{firstName}"/></div>
    <div>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
    </div>
    <span>Last Name</span>
    <div><input type="password" th:field="*{lastName}"/></div>
    <div>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    </div>
    <span>Email</span>
    <div><input type="text" th:field="*{email}"/></div>
    <div>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    </div>
    <span>Gender</span>
    <div>
        <select th:field="*{gender}">
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
    </div>
    <span>Password</span>
    <div><input type="password" th:field="*{password}"/></div>
    <div>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>

</body>
</html>