<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Login </title>
</head>
<body>
<div>

    <h1>Sign In</h1>
    <div>
        <div>
            <form th:action="@{/fitness/signIn}" th:object="${exerciserSignInModel}" method="post">
                <span>Email:</span>
                <div><input type="text" th:field="*{email}"/></div>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>

                <span>Password:</span>
                <div><input type="password" th:field="*{password}"/></div>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>